<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/2n95p9isIi1LYTscTcGytlI4zYd.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="name">The Outfit</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"> <span>star</span><span class="rating-value">7.5</span><span>/10</span> </span>
          <span>406 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        Leonard is an English tailor who used to craft suits on London’s world-famous Savile Row. After a personal
        tragedy, he’s ended up in Chicago
      </div>
    </div>
  </div>
</div>
